<div class="bodyContent">
    <h1 class="mainHeading">{{pageTitle}}</h1>
    {{!-- <form action="/login" method="get"> --}}
    <div class="homeBtns">
        <button type="button" class="btn btnLogIn">Log in</button>
        <button type="button" class="btn btnRegisterHome">Register</button>
    </div>        
    {{!-- </form> --}}
</div>