<div class="bodyContent">
    <h1 class="mainHeading">{{pageTitle}}</h1>
    <form action="/register" method="post">
        <div class="regForm">
            <input type="text" name="userName" id="txtUserName" placeholder="Name">
            <input type="password" name="userPassword" id="txtPass" placeholder="Password">
            <input type="password" name="passwordConfirm" id="txtConfirmPass" placeholder="Password Confirmation">
        </div>        
        <div class="regFormBtns">
            <button type="submit" class="btn regBtnRegister">Register</button>
            <button type="button" class="btn regBtnBack">Back</button>
        </div>
    </form>
</div>