/* *Import Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* *General Styling */

body{
    font-family: 'Nunito',sans-serif;
    color:#003049;
    background-color: #FBFBF2;
}

body::after {
    content: "";
    background-image: url(../images/coffeeBeans.jpg);/* Source https://unsplash.com/photos/TD4DBagg2wE */
    background-repeat: repeat;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
  }
.box{
  margin: 20px;
  background-color: #FBFBF2;
  border: 1px solid #FBFBF2;
  border-radius: 10px;
  padding: 10px;
}
.manage{
  display: flex;
  justify-content: space-around;
  width:100%;
}
.col{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex: 1;
  /* margin: 20px;
  background-color: #FBFBF2;
  border: 1px solid #FBFBF2;
  border-radius: 10px;
  padding: 10px; */
}

.dropDown{
  margin: 5px auto;
  width: 15em;
}
.login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: #003049;
    background:#cbdfbd;
    /* width: calc(100vw - 20px);
    margin-left: calc(-50vw + 50% + 10px); */
}

.icon {
    padding:5px;
}

.bodyContent {
  /* Center the content*/
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  /* style the form */
  background-color: #cbdfbd;
  border-radius: 5px;
  width: 70%;
  margin: 5% auto;
}

.mainHeading {
  font-size: 65px;
  margin: 30px auto;
  text-align: center;
}

.homeBtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
    padding: 10px 0px;
    text-align: center;   
}

.btn {
  background-color: #f19c79;
  border: 0px solid #f19c79;
  border-radius: 5px;
  cursor: pointer;
  color:#003049;
  font-weight: bold;
  margin: 10px 5px;
  padding:5px;
  width:110px;
}
.clearStyle{
  all: unset;
}

/* Password Examples */
.passExample{
  text-align: justify;
}

/* *Manager view styling */
.table{
  display: table;
  margin: 0 auto;
}

.tableRow{
  display: table-row;
}

.tableCell {
  display: table-cell;
  border: 1px solid #003049;
  padding:10px;
  text-align: center;
  min-width: 9.5em;
  max-width: 9.5em;
  overflow-wrap: anywhere;
}
.heading,.noWaiters{
  font-weight: bold;
}
.schedule{
  width: 100%;
}
.info{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.legendItem{
  padding:5px;
}
.someWaiters{
 color:#ff7601;
 background:#ffc08a;
 font-weight: bold;
}

.enoughWaiters{
  color:#228b22;
  background: #a3f3a3;
  font-weight: bold;
}

.tooManyWaiters{
  color:#cc0f35;
  background: #fbcad3;
  font-weight: bold;
}
/* *Flash message styling */
.message {
  margin-bottom: 10px !important;
}
.msgError {
  color:#cc0f35;
  font-weight:bold;
  border: solid 2px #fbcad3;
  background: #fbcad3;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  width: 90%;
}
.msgSuccess {
color:#228b22;
font-weight:bold;
border: solid 2px #bce3bc;
background: #bce3bc;
margin: 0 auto;
border-radius: 5px;
text-align: center;
width: 90%;
}

/* *Registration Form Styling */
.regForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.regForm input{
    margin:5px;
}

/* *MODAL */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 50%;                           /* Moves the form down 50% */
  left: 50%;                          /* Moves the form left 50% */
  transform: translate(-50%, -50%);   /* Puts the center of the form in the center of the page */
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  z-index: 2;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}