/* *Import Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* *General Styling */

body{
    font-family: 'Nunito',sans-serif;
    color:#003049;
    background-color: #FBFBF2;
    
}
body::after {
    content: "";
    background: url(../images/coffeeBeans.jpg) repeat; /* Source https://unsplash.com/photos/TD4DBagg2wE */
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

/* div.container{
    
    background-image: url(../images/coffeeBeans.jpg);
    background-repeat: repeat;
    opacity: 0.5;
} */
.login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: #003049;
    background:#cbdfbd;
    /* width: calc(100vw - 20px);
    margin-left: calc(-50vw + 50% + 10px); */
}

.icon {
    padding:5px;
}

.bodyContent {
  /* Center the content*/
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  /* style the form */
  background-color: #cbdfbd;
  border-radius: 5px;
  width: 70%;
  margin: 5% auto;
}

.mainHeading {
  font-size: 65px;
  margin: 30px auto;
  text-align: center;
}

form{
    width: 100%;
    padding: 10px 0px;
    text-align: center;   
}

.btn {
  background-color: #f19c79;
  border: 0px solid #f19c79;
  border-radius: 5px;
  cursor: pointer;
  color:#003049;
  font-weight: bold;
  margin: 10px 5px;
  padding:5px;
  width:110px;
}
/* Registration Form Styling */
.regForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.regForm input{
    margin:5px;
}